@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.ttf);
}

$color-dark: #3E3F58;

body {
    margin: 0;
    font-family: OpenSans;
    color: $color-dark;
}

a {
    text-decoration: none;
    color: $color-dark;
    transition: all 0.2s ease-out;
    &:hover {
        opacity: 0.7;
        transition: all 0.2s ease-out;
    }
}